.app {
    background: #f1f1f1;
    display: grid;  /*para o body que é o container pai se comportar como grid*/
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas:
        "cabecalho"
        "conteudo"
        "rodape"; /*para defenir as areas*/
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto;
}

.cabecalho {
    grid-area: cabecalho;
}
 
.conteudo {
    grid-area: conteudo;
}

.rodape {
    grid-area: rodape;
}